# *mysql*

In [8]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql
import re

In [4]:
def mysql_to_df():
    pymysql.install_as_MySQLdb()
    engine = create_engine("mysql://id:pwd@ip:port/db")
    df = pd.read_sql("select distinct name from table where name <> ''", engine)

    return df

In [5]:
df = mysql_to_df()

# *text load & save*

### *load*

In [ ]:
company_name = np.read_csv('sample.txt', names=colnames, sep="\n",header=None)

### *save*

In [ ]:
with open("sample.txt", "w") as f:
    for i in company_list:
        f.write('"'+ i + '",' + "\n")

# *excel load & save*

### *load*

In [11]:
import pandas as pd

In [12]:
df = pd.read_excel('sample.xlsx')

In [13]:
df.head()

,Unnamed: 0,company_name,synonym,fasttext
0,0.0,삼익전자공업,"samikdisplay,samik","삼화전자공업,전자공업,삼영전자공업,동양공업"
1,1.0,창용금형,cymold,NaN
2,2.0,생각을걷다,wimfilm,NaN
3,3.0,삼호,dl건설,NaN
4,4.0,고려산업,hafeed,"석재산업,환대산업,주도산업,컨벤션산업,화학소재산업,이희덕,유치산업"

### *save*

In [ ]:
import openpyxl

In [ ]:
df.to_excel('sample.xlsx')

In [ ]:
# sheet save
data1 = df[:1000000]
data2 = df[1000001:]

writer = pd.ExcelWriter('sample.xlsx')
data1.to_excel(writer, sheet_name='~1000000', index=False)
data2.to_excel(writer, sheet_name='1000001~', index=False)
writer.save()

# *pickle load & save*

### *load*

In [ ]:
import pickle

In [ ]:
with open('sample.pickle', 'rb') as f:
    df = pickle.load(f)

### *save*

In [ ]:
with open('sample.pickle', 'wb') as f:
    pickle.dump(df, f, pickle.HIGHEST_PROTOCOL)

# *json load & save*

In [14]:
import json

### *load*

In [15]:
def load_jsonl(input_path) -> list:
    """
    Read list of objects from a JSON lines file.
    """
    data = []
    with open(input_path, 'r', encoding='utf-8') as f:
        for line in f:
            data.append(json.loads(line.rstrip('\n|\r')))
    print('Loaded {} records from {}'.format(len(data), input_path))
    return data

### *save*

In [16]:
def dump_jsonl(data, output_path, append=False):
    """
    Write list of objects to a JSON lines file.
    """
    mode = 'a+' if append else 'w'
    with open(output_path, mode, encoding='utf-8') as f:
        for line in data:
            json_record = json.dumps(line, ensure_ascii=False)
            f.write(json_record + '\n')
    print('Wrote {} records to {}'.format(len(data), output_path))

In [ ]:
# example
temp_dict = [
    {"content": row['content'].strip(), "category": row['category']}
    for _, row in data.iterrows()
]
temp_dict[0]

dump_jsonl(temp_dict, 'sample.json')