# *import*

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, VARCHAR, Indexable

import pandas as pd
from tqdm import tqdm
import re
import pymysql

# *mysql to dataframe*

In [3]:
def mysql_to_df():
    pymysql.install_as_MySQLdb()
    engine = create_engine("mysql://id:pwd@ip:port/db")
    
    df = pd.read_sql("select distinct name from table where name <> ''", engine)
    return df

In [ ]:
df = mysql_to_df()
print(df.head())