# *data load*

In [1]:
import pandas as pd

In [2]:
import pickle

In [3]:
with open('./data/sample.pickle', 'rb') as f:
    df = pickle.load(f)

In [4]:
df.head()

  id                                            content category_name_str
0  0  김영환 전 더불어민주당 의원은 16일 문재인 정부의 탈원전 정책에 대해 과학적으로 ...               에너지
1  1  올해 2분기 주요 아티스트들의 대거 복귀를 앞두고 엔터주 주가가 꿈틀거리고 있다 앞...           미디어, 경제
2  2  더불어민주당 부동산특위는 오늘 국회에서 서울지역 구청장들과 간담회를 하고 부동산 현...               부동산
3  3  지난 12일 내년 대통령선거 출마를 공식선언한 양승조 충남지사가 16일부터 2박3일...               etc
4  4  서동균이 결혼한 가운데 박준형이 참석 인증샷을 공개했다박준형은 15일 자신의 인스타...               etc

# *set 중복 제거*

In [5]:
category_list = list(set(df.category_name_str.values.tolist()))

In [6]:
category_list.sort()
category_list[:10]

[' ',
 'O2O, 이동수단',
 'etc',
 '개발',
 '개발, 경제',
 '개발, 과학',
 '개발, 통신',
 '경제',
 '경제, 식품',
 '경제, 에너지']

# *특수문자 제거*

In [7]:
import re

In [8]:
category_list = [re.sub(r'\([^]]*\)', '', category) for category in category_list if len(category) > 0]

In [9]:
category_list[:10]

[' ',
 'O2O, 이동수단',
 'etc',
 '개발',
 '개발, 경제',
 '개발, 과학',
 '개발, 통신',
 '경제',
 '경제, 식품',
 '경제, 에너지']

# *빈칸 찾기*

In [11]:
# true, false
# sum 갯수
df.category_name_str.apply(lambda x: x.startswith(" ")).sum()

0

In [12]:
df[df.category_name_str.apply(lambda x: x.startswith(" "))]

Empty DataFrame
Columns: [id, content, category_name_str]
Index: []

In [13]:
df.shape

(1000, 3)

In [10]:
# 데이터 제거
index = df[df.category_name_str.apply(lambda x: x.startswith(" "))].index
print(index)
df.drop(index, inplace=True)

Int64Index([1000], dtype='int64')

# *중복 찾기*

In [17]:
df.duplicated().sum()

0

In [ ]:
df.drop_duplicates()

In [15]:
df.shape

(1001, 3)

# *2차원 list -> 1차원 list*

In [10]:
test_list = []
test_list.append(category_list)

In [12]:
test_list = sum(test_list, [])

In [14]:
test_list[:10]

[' ',
 'O2O, 이동수단',
 'etc',
 '개발',
 '개발, 경제',
 '개발, 과학',
 '개발, 통신',
 '경제',
 '경제, 식품',
 '경제, 에너지']

# *조건부 삭제*

In [ ]:
# 길이 50 이하 제거
df = df[df.content.apply(lambda x: len(str(x))>=50)]

# *replace*

In [5]:
df.head()

  id                                            content category_name_str
0  0  김영환 전 더불어민주당 의원은 16일 문재인 정부의 탈원전 정책에 대해 과학적으로 ...               에너지
1  1  올해 2분기 주요 아티스트들의 대거 복귀를 앞두고 엔터주 주가가 꿈틀거리고 있다 앞...           미디어, 경제
2  2  더불어민주당 부동산특위는 오늘 국회에서 서울지역 구청장들과 간담회를 하고 부동산 현...               부동산
3  3  지난 12일 내년 대통령선거 출마를 공식선언한 양승조 충남지사가 16일부터 2박3일...               etc
4  4  서동균이 결혼한 가운데 박준형이 참석 인증샷을 공개했다박준형은 15일 자신의 인스타...               etc

In [6]:
df['category'] = df.category_name_str.replace('etc', 'etcc')

In [7]:
df.head()

,id,content,category_name_str,category
0,0,김영환 전 더불어민주당 의원은 16일 문재인 정부의 탈원전 정책에 대해 과학적으로 ...,에너지,에너지
1,1,올해 2분기 주요 아티스트들의 대거 복귀를 앞두고 엔터주 주가가 꿈틀거리고 있다 앞...,"미디어, 경제","미디어, 경제"
2,2,더불어민주당 부동산특위는 오늘 국회에서 서울지역 구청장들과 간담회를 하고 부동산 현...,부동산,부동산
3,3,지난 12일 내년 대통령선거 출마를 공식선언한 양승조 충남지사가 16일부터 2박3일...,etc,etcc
4,4,서동균이 결혼한 가운데 박준형이 참석 인증샷을 공개했다박준형은 15일 자신의 인스타...,etc,etcc

In [18]:
df['catogory2'] = df.category_name_str.apply(lambda x: x.replace(', ', '; '))

In [19]:
df.head()

,id,content,category_name_str,category,catogory2
0,0,김영환 전 더불어민주당 의원은 16일 문재인 정부의 탈원전 정책에 대해 과학적으로 ...,에너지,에너지,에너지
1,1,올해 2분기 주요 아티스트들의 대거 복귀를 앞두고 엔터주 주가가 꿈틀거리고 있다 앞...,"미디어, 경제","미디어, 경제",미디어; 경제
2,2,더불어민주당 부동산특위는 오늘 국회에서 서울지역 구청장들과 간담회를 하고 부동산 현...,부동산,부동산,부동산
3,3,지난 12일 내년 대통령선거 출마를 공식선언한 양승조 충남지사가 16일부터 2박3일...,etc,etcc,etc
4,4,서동균이 결혼한 가운데 박준형이 참석 인증샷을 공개했다박준형은 15일 자신의 인스타...,etc,etcc,etc

# *data merge*

In [8]:
df.head()

,id,content,category_name_str,category
0,0,김영환 전 더불어민주당 의원은 16일 문재인 정부의 탈원전 정책에 대해 과학적으로 ...,에너지,에너지
1,1,올해 2분기 주요 아티스트들의 대거 복귀를 앞두고 엔터주 주가가 꿈틀거리고 있다 앞...,"미디어, 경제",미디어; 경제
2,2,더불어민주당 부동산특위는 오늘 국회에서 서울지역 구청장들과 간담회를 하고 부동산 현...,부동산,부동산
3,3,지난 12일 내년 대통령선거 출마를 공식선언한 양승조 충남지사가 16일부터 2박3일...,etc,etc
4,4,서동균이 결혼한 가운데 박준형이 참석 인증샷을 공개했다박준형은 15일 자신의 인스타...,etc,etc

In [9]:
df2 = df[['id', 'category_name_str']]
df2 = pd.DataFrame(df2)

In [10]:
df = df[['id', 'content']]

In [11]:
df.head()

  id                                            content
0  0  김영환 전 더불어민주당 의원은 16일 문재인 정부의 탈원전 정책에 대해 과학적으로 ...
1  1  올해 2분기 주요 아티스트들의 대거 복귀를 앞두고 엔터주 주가가 꿈틀거리고 있다 앞...
2  2  더불어민주당 부동산특위는 오늘 국회에서 서울지역 구청장들과 간담회를 하고 부동산 현...
3  3  지난 12일 내년 대통령선거 출마를 공식선언한 양승조 충남지사가 16일부터 2박3일...
4  4  서동균이 결혼한 가운데 박준형이 참석 인증샷을 공개했다박준형은 15일 자신의 인스타...

In [12]:
df2.head()

  id category_name_str
0  0               에너지
1  1           미디어, 경제
2  2               부동산
3  3               etc
4  4               etc

In [13]:
df3 = pd.concat([df, df2])

In [14]:
df3.head()

  id                                            content category_name_str
0  0  김영환 전 더불어민주당 의원은 16일 문재인 정부의 탈원전 정책에 대해 과학적으로 ...               NaN
1  1  올해 2분기 주요 아티스트들의 대거 복귀를 앞두고 엔터주 주가가 꿈틀거리고 있다 앞...               NaN
2  2  더불어민주당 부동산특위는 오늘 국회에서 서울지역 구청장들과 간담회를 하고 부동산 현...               NaN
3  3  지난 12일 내년 대통령선거 출마를 공식선언한 양승조 충남지사가 16일부터 2박3일...               NaN
4  4  서동균이 결혼한 가운데 박준형이 참석 인증샷을 공개했다박준형은 15일 자신의 인스타...               NaN

# *swifter*

##### *A package which efficiently applies any function to a pandas dataframe or series in the fastest available manner*

In [5]:
import swifter

In [6]:
df['category'] = df.category_name_str.swifter.apply(lambda x: x.replace(', ', '; '))

Pandas Apply:   0%|          | 0/1001 [00:00<?, ?it/s]

In [7]:
df.head()

,id,content,category_name_str,category
0,0,김영환 전 더불어민주당 의원은 16일 문재인 정부의 탈원전 정책에 대해 과학적으로 ...,에너지,에너지
1,1,올해 2분기 주요 아티스트들의 대거 복귀를 앞두고 엔터주 주가가 꿈틀거리고 있다 앞...,"미디어, 경제",미디어; 경제
2,2,더불어민주당 부동산특위는 오늘 국회에서 서울지역 구청장들과 간담회를 하고 부동산 현...,부동산,부동산
3,3,지난 12일 내년 대통령선거 출마를 공식선언한 양승조 충남지사가 16일부터 2박3일...,etc,etc
4,4,서동균이 결혼한 가운데 박준형이 참석 인증샷을 공개했다박준형은 15일 자신의 인스타...,etc,etc