# üëâüèª *Pandas(Panel data)*

In [3]:
import pandas as pd
import pickle

In [5]:
with open('../data/sample.pickle', 'rb') as f:
    df = pickle.load(f)

### *column ÏàúÏÑú ÏßÄÏ†ï & index Î∂ÄÏó¨*

In [3]:
index = ['„Ñ±', '„Ñ¥', '„Ñ∑', '„Ñπ', '„ÖÅ']
df = pd.DataFrame(data, columns=['open', 'high', 'low', 'close'], index=index)
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [4]:
df = pd.DataFrame(df, columns=['open', 'high', 'low', 'close'])

In [5]:
df.head()

    open   high    low  close
„Ñ±  11650  12100  11600  11900
„Ñ¥  11100  11800  11050  11600
„Ñ∑  11200  11200  10900  11000
„Ñπ  11100  11100  10950  11100
„ÖÅ  11000  11150  10900  11050

In [6]:
print(df.open)
print(type(df.open))
print(df['open'])
print(type(df['open']))

„Ñ±    11650
„Ñ¥    11100
„Ñ∑    11200
„Ñπ    11100
„ÖÅ    11000
Name: open, dtype: int64
<class 'pandas.core.series.Series'>
„Ñ±    11650
„Ñ¥    11100
„Ñ∑    11200
„Ñπ    11100
„ÖÅ    11000
Name: open, dtype: int64
<class 'pandas.core.series.Series'>

#

# üëâüèª **