# *Pandas(Panel data)*

#

# üëâüèª *DataFrame Setting*

### *Cell ÎÑàÎπÑ ÏÑ§Ï†ï*

In [1]:
import pandas as pd

pd.set_option('display.max.colwidth', 500)

In [2]:
data = {'open': [102000000000000000000000000000000000000, 202000000000000000000000000000000000000, 302000000000000000000000000000000000000, 402000000000000000000000000000000000000, 502000000000000000000000000000000000000],}

In [3]:
df = pd.DataFrame(data)
df

                                      open
0  102000000000000000000000000000000000000
1  202000000000000000000000000000000000000
2  302000000000000000000000000000000000000
3  402000000000000000000000000000000000000
4  502000000000000000000000000000000000000

### *ÏµúÎåÄ Ïó¥ Í∞ØÏàò ÏÑ§Ï†ï*

In [13]:
import pandas as pd

pd.set_option('display.max.columns', 3)

In [14]:
data = {'open': [10200.2, 30000, 30020, 41200, 12000],
        'high': [20100.4, 12400, 20000, 50050, 21200],
        'low': [15000.6, 20000, 40000, 20300, 41020],
        'close': [32000.2, 20040, 23400, 50000, 12400]}
df = pd.DataFrame(data)

In [15]:
df.head()

      open  ...    close
0  10200.2  ...  32000.2
1  30000.0  ...  20040.0
2  30020.0  ...  23400.0
3  41200.0  ...  50000.0
4  12000.0  ...  12400.0

[5 rows x 4 columns]

### *ÏµúÎåÄ Ìñâ Í∞ØÏàò ÏÑ§Ï†ï*

In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.DataFrame(np.arange(200))
df

       0
0      0
1      1
2      2
3      3
4      4
..   ...
195  195
196  196
197  197
198  198
199  199

[200 rows x 1 columns]

In [18]:
df = pd.DataFrame(np.arange(200).reshape(100, 2))
df

      0    1
0     0    1
1     2    3
2     4    5
3     6    7
4     8    9
..  ...  ...
95  190  191
96  192  193
97  194  195
98  196  197
99  198  199

[100 rows x 2 columns]

### *ÌÖçÏä§Ìä∏ Ï†ïÎ†¨*

In [19]:
import pandas as pd

In [20]:
data = {'open': [10200.2, 30000, 30020, 41200, 12000],
        'high': [20100.4, 12400, 20000, 50050, 21200],
        'low': [15000.6, 20000, 40000, 20300, 41020],
        'close': [32000.2, 20040, 23400, 50000, 12400]}

In [21]:
df = pd.DataFrame(data)

In [22]:
dfStyler = df.style.set_properties(**{'text-aligh': 'right'})
dfStyler.set_table_styles([dict(selector='th', 
                                props=[('text-align', 'right')])])

### *ÏÜåÏàòÏ†ê ÏûêÎ¶øÏàò ÏÑ§Ï†ï*

In [23]:
pd.options.display.float_format = '{:.2f}'.format

In [24]:
df

      open  ...    close
0 10200.20  ... 32000.20
1 30000.00  ... 20040.00
2 30020.00  ... 23400.00
3 41200.00  ... 50000.00
4 12000.00  ... 12400.00

[5 rows x 4 columns]

#

# üëâüèª *column ÏàúÏÑú ÏßÄÏ†ï & index Î∂ÄÏó¨*

In [25]:
import pandas as pd

In [8]:
data = {'open': [10200, 30000, 30020, 41200, 12000],
        'high': [20100, 12400, 20000, 50050, 21200],
        'low': [15000, 20000, 40000, 20300, 41020],
        'close': [32000, 20040, 23400, 50000, 12400]}

In [ ]:
index = ['„Ñ±', '„Ñ¥', '„Ñ∑', '„Ñπ', '„ÖÅ']
data = pd.DataFrame(data, columns=['open', 'high', 'low', 'close'], index=index)
print(type(data))

In [6]:
data.head()

    open   high    low  close
„Ñ±  10200  20100  15000  32000
„Ñ¥  30000  12400  20000  20040
„Ñ∑  30020  20000  40000  23400
„Ñπ  41200  50050  20300  50000
„ÖÅ  12000  21200  41020  12400

In [7]:
print(data.open)
print(type(data.open))
print(data['open'])
print(type(data['open']))

„Ñ±    10200
„Ñ¥    30000
„Ñ∑    30020
„Ñπ    41200
„ÖÅ    12000
Name: open, dtype: int64
<class 'pandas.core.series.Series'>
„Ñ±    10200
„Ñ¥    30000
„Ñ∑    30020
„Ñπ    41200
„ÖÅ    12000
Name: open, dtype: int64
<class 'pandas.core.series.Series'>

#

# üëâüèª *Series ‚Üí DataFrame*

In [1]:
import pandas as pd

In [2]:
li1 = [1, 2, 3]
li2 = [1, 2, 3, 4]

In [3]:
d = {'one': pd.Series(li1),
     'two': pd.Series(li2)}
df = pd.DataFrame(d)

In [5]:
df['three'] = ['Ïùº', 'Ïù¥', 'ÏÇº', 'Ïãú']

In [8]:
df['four'] = pd.Series([10,20,30])

In [9]:
df.head()

   one  two three  four
0  1.0    1     Ïùº  10.0
1  2.0    2     Ïù¥  20.0
2  3.0    3     ÏÇº  30.0
3  NaN    4     Ïãú   NaN

#

# üëâüèª *drop, del*

In [1]:
import pandas as pd
import pickle

In [2]:
with open('../data/sample.pickle', 'rb') as f:
    df = pickle.load(f)

In [3]:
df.head()

   id     predict
0   1   Ï¶ùÍ∞ïÌòÑÏã§, ÎØ∏ÎîîÏñ¥
1   2      Í≤ΩÏ†ú, Ìà¨Ïûê
2   3         etc
3   4  ÌÜµÏã†, Í¥ëÍ≥†, ÏÑúÎ≤Ñ
4   5  Ìà¨Ïûê, ÏßÅÏóÖ, Í≤ΩÏ†ú

### ‚ìµ

In [4]:
# axis=0 Ìñâ, axis=1 Ïó¥
df.drop('id', axis=1, inplace=True)

### ‚ë°

In [4]:
del df['id']

In [5]:
df

          predict
0       Ï¶ùÍ∞ïÌòÑÏã§, ÎØ∏ÎîîÏñ¥
1          Í≤ΩÏ†ú, Ìà¨Ïûê
2             etc
3      ÌÜµÏã†, Í¥ëÍ≥†, ÏÑúÎ≤Ñ
4      Ìà¨Ïûê, ÏßÅÏóÖ, Í≤ΩÏ†ú
...           ...
99995         etc
99996     Ïª§Î®∏Ïä§, ÏãùÌíà
99997         etc
99998         etc
99999         etc

[100000 rows x 1 columns]

#

# üëâüèª *indexing*

In [1]:
import pandas as pd

In [2]:
data = {'open': [10200, 30000, 30020, 41200, 12000],
        'high': [20100, 12400, 20000, 50050, 21200],
        'low': [15000, 20000, 40000, 20300, 41020],
        'close': [32000, 20040, 23400, 50000, 12400]}

In [3]:
df = pd.DataFrame(data)

### ‚ìµ *Ïó¥ Ïù∏Îç±Ïã±*

In [4]:
print(df[['open', 'high']])

    open   high
0  10200  20100
1  30000  12400
2  30020  20000
3  41200  50050
4  12000  21200

### ‚ìµ *Ìñâ Ïù∏Îç±Ïã±*

In [5]:
print(df.loc[1])

open     30000
high     12400
low      20000
close    20040
Name: 1, dtype: int64

In [17]:
print(df.loc[:2])

    open   high    low  close
0  10200  20100  15000  32000
1  30000  12400  20000  20040
2  30020  20000  40000  23400

In [7]:
print(df.iloc[1])

open     30000
high     12400
low      20000
close    20040
Name: 1, dtype: int64

In [16]:
print(df.iloc[:2])

    open   high    low  close
0  10200  20100  15000  32000
1  30000  12400  20000  20040

In [18]:
print(df[:2])

    open   high    low  close
0  10200  20100  15000  32000
1  30000  12400  20000  20040